#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config DTR_UART
	bool "DTR UART implementation - DCE side"
	default y
	depends on DT_HAS_NORDIC_DTR_UART_ENABLED
	select GPIO
	select UART_ASYNC_API
	select RING_BUFFER
	depends on PM_DEVICE_RUNTIME
	depends on !PM_DEVICE_RUNTIME_DEFAULT_ENABLE
	help
	  Data Terminal Ready (DTR) UART implements UART API and extends UART communication
	  with DTR and Ring Indicator (RI) signals.

	  Data Communication Equipment (DCE) is controlled by DTE (Data Terminal Equipment)
	  using DTR signal. When DTR is deasserted, DCE will stop the UART communication and
	  power down the UART peripheral. When DTR is asserted, DCE will power up the UART
	  peripheral and start the UART communication.

	  RI signal is used by DCE to notify DTE that data is available to read.

config DTR_UART_INIT_PRIORITY
	int "DTR UART initialization priority"
	default 81
	help
	  Initialization priority for the DTR UART driver (POST_KERNEL level).

	  This must be higher than CONFIG_SPI_NOR_INIT_PRIORITY (default: 80)
	  when RTT tracing is enabled. Otherwise RTT will not work correctly.

if DTR_UART

module = DTR_UART
module-str = dtr uart
source "subsys/logging/Kconfig.template.log_config"

endif # DTR_UART
