#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config SM_FTPC
	bool "FTP client support"
	default y
	select FTP_CLIENT

config SM_TFTPC
	bool "TFTP client support"
	default y
	select TFTP_LIB
