#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SM_HOST
	bool "Serial Modem Host Library"
	depends on SERIAL
	depends on UART_ASYNC_API
	depends on RING_BUFFER
	select UART_USE_RUNTIME_CONFIGURE

if SM_HOST

#
# UART buffers
#
config SM_HOST_UART_RX_BUF_COUNT
	int "Receive buffers for UART"
	range 2 4
	default 3
	help
	  Number of buffers for receiving (RX) UART traffic.
	  If the buffers are full, UART RX will be disabled until the buffers are processed.

config SM_HOST_UART_RX_BUF_SIZE
	int "Receive buffer size for UART"
	range 16 4096
	default 256
	help
	  Amount of received (RX), unprocessed, UART traffic that can be held by a single buffer.

config SM_HOST_UART_TX_BUF_SIZE
	int "Send buffer size for UART"
	range 16 4096
	default 256
	help
	  Amount of UART traffic waiting to be sent (TX), which can be held.
	  If the buffers are full, all messages will be sent synchronously.

config SM_HOST_AT_CMD_RESP_MAX_SIZE
	int "Maximum size of AT command response from Serial Modem"
	default 2100
	help
	  The maximum size of the AT command response.

config SM_HOST_SHELL
	bool "Serial Modem Host Shell"
	depends on SHELL
	help
	  Adds AT command capability to shell. The shell command is "sm".

choice
	prompt "AT command terminator"
	default SM_HOST_CR_LF_TERMINATION
	help
	  Sets the termination ending from the serial terminal
	  Levels are:
	  -  CR Termination
	  -  LF Termination
	  -  CR+LF Termination

config SM_HOST_CR_TERMINATION
	bool "CR Termination"

config SM_HOST_LF_TERMINATION
	bool "LF Termination"

config SM_HOST_CR_LF_TERMINATION
	bool "CR+LF Termination"

endchoice

config SM_HOST_POWER_PIN
	int "Power pin"
	default -1
	help
	  Interface GPIO to toggle power pin of the nRF91 Series device.

config SM_HOST_POWER_PIN_TIME
	int "Power pin active time"
	default 100
	help
	  GPIO active time in milliseconds. This setting specifies
	  the period length for the pin to be active.

config SM_HOST_INDICATE_PIN
	int "Indicate pin"
	default -1
	help
	  Interface GPIO pin used by Serial Modem to indicate that data is available or
	  an unexpected reset has occurred.

module = SM_HOST
module-str = SM Host
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # SM_HOST
