/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * Flash partition layout for nRF9151 DK with MCUBoot.
 *
 * 0x0000_0000  s0 (MCUBoot image, slot 0)   ( 64 kB)
 * 0x0001_0000  slot0 (primary app)          (472 kB)
 *   0x0001_0000  TF-M secure                ( 32 kB)
 *   0x0001_8000  Application (non-secure)   (440 kB - (MCUBoot swap sector + MCUboot trailer))
 * 0x0008_6000  slot1 (secondary app)        (472 kB)
 * 0x000f_c000  Non-secure storage           ( 16 kB)
 */

/delete-node/ &b0_partition;
/delete-node/ &s0_partition;
/delete-node/ &s1_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &nonsecure_storage;

&flash0 {
	partitions {
		s0_partition: boot_partition: partition@0 {
			compatible = "zephyr,mapped-partition";
			label = "mcuboot-0";
			reg = <0x0 0x10000>;
		};

		slot0_partition: partition@10000 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x10000 0x76000>;
			ranges = <0x0 0x10000 0x76000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot0_s_partition: partition@0 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-secure";
				reg = <0x0 0x8000>;
			};

			slot0_ns_partition: partition@8000 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-nonsecure";
				reg = <0x8000 0x6e000>;
			};
		};

		slot1_partition: partition@86000 {
			compatible = "zephyr,mapped-partition";
			label = "image-1";
			reg = <0x86000 0x76000>;
			ranges = <0x0 0x86000 0x76000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_s_partition: partition@0 {
				compatible = "zephyr,mapped-partition";
				label = "image-1-secure";
				reg = <0x0 0x8000>;
			};

			slot1_ns_partition: partition@8000 {
				compatible = "zephyr,mapped-partition";
				label = "image-1-nonsecure";
				reg = <0x8000 0x6e000>;
			};
		};

		nonsecure_storage: storage_partition: partition@fc000 {
			compatible = "zephyr,mapped-partition";
			label = "nonsecure-storage";
			reg = <0xfc000 0x4000>;
		};
	};
};
