/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 */

/ {
	chosen {
		nordic,fmfu_storage_partition = &fmfu_storage_partition;
	};
};

/*
 * External flash layout for nRF9151 DK with full modem FOTA:
 *
 * 0x0000_0000  fmfu_storage_partition   (4 MB)
 */

&gd25wb256 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		fmfu_storage_partition: partition@0 {
			label = "fmfu-storage";
			reg = <0x0 0x400000>;
		};
	};
};
