/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	/*
	 * Enable UART2 as the serial interface to the nRF91 Serial Modem application.
	 * Assume that the UART which receives modem AT-commands is available at /dev/ttyACM0 on the host system.
	 */
	uart2: uart2 {
		status = "okay";
		compatible = "zephyr,native-tty-uart";
		serial-port = "/dev/ttyACM0";
		current-speed = <115200>;
		hw-flow-control;

		modem: modem {
			compatible = "nordic,nrf91-sm-v2";
			status = "okay";
			zephyr,pm-device-runtime-auto;
			autostarts;
		};
	};

	/*
	 * Use native_sim's simulated flash storage partition for littlefs storage.
	 */
	fstab {
		compatible = "zephyr,fstab";

		lfs: lfs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

/* Define bigger flash for LitteFS
 * 64Mbit = 8MByte
 */
&flashcontroller0 {
	reg = <0x00000000 DT_SIZE_M(8)>;
};

&flash0 {
	reg = <0x00000000 DT_SIZE_M(8)>;

};

&storage_partition {
	reg = <0x000fc000 0x704000>;
};
