/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <thingy91x_wifi.dtsi>

/ {
	chosen {
		ncs,sm-uart = &dtr_uart0;
		zephyr,wifi = &nordic_wlan0;
	};
};

/* DTR with DK */
&uart0 {
	status = "okay";

	dtr_uart0: dtr-uart {
		compatible = "nordic,dtr-uart";
		dtr-gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>; /* button0 */
		/* ri-gpios removed: blue LED (gpio0.30) is now controlled by sm_led */
		status = "okay";
	};
};

&gpio0 {
	status = "okay";
	/* Use PORT event for DTR (26) pin to save power */
	sense-edge-mask = <0x04000000>;
};
